In [31]:
from pathlib import Path

import pandas as pd
from collections import defaultdict

pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)

In [32]:
dir = "/Volumes/USB SanDisk 3.2Gen1 Media 1/a4d/a4dphase2_upload/output/logs"

In [121]:
files = list(Path(dir).glob("*.log"))
len(files)

78

In [122]:
data = defaultdict(list)
for file in files:
    with open(file, "r", encoding="utf-8") as fstream:
        for line in fstream.read().splitlines():
            error = None
            warn = None
            if "ERROR" in line:
                error = line.split("\t")[-1]
                
            if "WARN" in line:
                warn = line.split("\t")[-1]
            
            if error or warn: 
                data["file"].append(file.name)
                data["error"].append(error)
                data["warning"].append(warn)

In [123]:
df = pd.DataFrame(data)

In [124]:
df

,file,error,warning
0,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Found invalid values for column blood_pressure_mmhg that do not follow the format X/Y. Values were replaced with 999999.
1,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,"Extra columns in patient data: admissiontohospitaldatemmmyy, observations1, admissiontohospitaldatemmyy"
2,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,"Missing columns in patient data: clinic_code, country_code, fbg_baseline_mg, fbg_updated_mg, hospitalisation_cause, hospitalisation_date, last_remote_followup_date, lost_date, observations, observations_category, status_out, t1d_diagnosis_date, t1d_diagnosis_with_dka, updated_2022_date"
3,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Could not convert value - in column bmi for patient: MY_PN004
4,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Could not convert value - in column bmi for patient: MY_PN004
...,...,...,...
9971,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9972,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9973,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9974,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9975,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."

In [125]:
df.to_csv(Path(dir) / "error_report.csv", index=False)

In [126]:
df.file.nunique()

58

In [127]:
df.file.unique()

array(['2020_Penang General Hospital A4D Tracker_DC_patient_raw.log',
       '2020_Mahosot Hospital A4D Tracker_DC_product_raw.log',
       '2019_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
       '2022_Sultanah Bahiyah A4D Tracker_DC_patient_raw.log',
       '2022_Khon Kaen Hospital A4D Tracker_patient_raw.log',
       '2020_Lao Friends Hospital for Children A4D Tracker_DC_product_raw.log',
       '2019_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
       '2022_Sarawak General Hospital A4D Tracker_DC_product_raw.log',
       '2021_Mahosot Hospital A4D Tracker_DC_product_raw.log',
       '2022_Surat Thani A4D Tracker_product_raw.log',
       '2022_Chulalongkorn Hospital A4D Tracker_patient_raw.log',
       '2019_Penang General Hospital A4D Tracker_DC_patient_raw.log',
       '2019_Sultanah Bahiyah Hospital A4D Tracker_DC_patient_raw.log',
       '2020_Sarawak General Hospital A4D Tracker_DC_product_raw.log',
       '2019_Mahosot Hospital A4D Tracker_patient_raw.log',
       '2021_Penang General Hospital A4D Tracker_DC_patient_raw.log',
       '2020_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
       '2022_Putrajaya Hospital A4D Tracker_DC_patient_raw.log',
       '2022_Khon Kaen Hospital A4D Tracker_product_raw.log',
       '2019_Sultanah Bahiyah Hospital A4D Tracker_DC_product_raw.log',
       '2019_Penang General Hospital A4D Tracker_DC_product_raw.log',
       '2022_Surat Thani A4D Tracker_patient_raw.log',
       '2022_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
       '2021_Mahosot Hospital A4D Tracker_DC_patient_raw.log',
       '2018_Penang General Hospital A4D Tracker_DC_patient_raw.log',
       '2021_Putrajaya Hospital A4D Tracker_DC_patient_raw.log',
       '2019_Mahosot Hospital A4D Tracker_product_raw.log',
       '2020_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
       '2021_NPH A4D Tracker_patient_raw.log',
       '2022_Mahosot Hosptial A4D Tracker_DC_product_raw.log',
       "2022_Likas Women & Children's Hospital A4D Tracker_DC_product_raw.log",
       '2022_Sunprasitthiprasong Hospital A4D Tracker_patient_raw.log',
       '2018_Mahosot Hospital A4D Tracker_product_raw.log',
       '2022_Chiang Mai Maharaj Nakorn A4D Tracker_product_raw.log',
       '2022_Phattalung Hospital A4D Tracker_patient_raw.log',
       "2021_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
       '2021_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
       '2020_Sultanah Bahiyah Hospital A4D Tracker_DC_patient_raw.log',
       '2022_NPH A4D Tracker_product_raw.log',
       '2022_CDA A4D Tracker_product_raw.log',
       '2022_Pahol  Polpayuhasena A4D Tracker_patient_raw.log',
       '2017_Mahosot Hospital A4D Tracker_patient_raw.log',
       '2022_Hat Yai Hospital A4D Tracker_product_raw.log',
       '2022_Mukdahan Hospital A4D Tracker_patient_raw.log',
       '2022_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
       "2022_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
       '2022_Mahosot Hosptial A4D Tracker_DC_patient_raw.log',
       '2021_Sultanah Bahiyah Hospital A4D Tracker_DC_patient_raw.log',
       '2022_Phattalung Hospital A4D Tracker_product_raw.log',
       '2022_Chiang Mai Maharaj Nakorn A4D Tracker_patient_raw.log',
       '2018_Mahosot Hospital A4D Tracker_patient_raw.log',
       '2022_NPH A4D Tracker_patient_raw.log',
       '2020_Sultanah Bahiyah Hospital A4D Tracker_DC_product_raw.log',
       '2018_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
       '2022_Hat Yai Hospital A4D Tracker_patient_raw.log',
       '2021_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
       '2017_Mahosot Hospital A4D Tracker_product_raw.log',
       '2022_CDA A4D Tracker_patient_raw.log'], dtype=object)

## Error

In [128]:
df[~df.error.isna()]

,file,error,warning
698,2020_Sarawak General Hospital A4D Tracker_DC_product_raw.log,Could not process raw product data. Error = Error in `dplyr::mutate()`: ℹ In argument: `product_received_from = case_when(...)`. Caused by error in `case_when()`: ! Can't combine `..1 (right)` <double> and `..2 (right)` <character>. .,None
9734,2017_Mahosot Hospital A4D Tracker_product_raw.log,Could not process raw product data. Error = Error in `[<-` at R/helper_product_data.R:483:12: ! Assigned data `value` must be compatible with existing data. ℹ Error occurred for column `product_units_released`. Caused by error in `vec_assign()`: ! Can't convert <double> to <character>. .,None

In [129]:
# how many files could not be processed in %?
len(df[~df.error.isna()]) / len(files) * 100

2.564102564102564

### Error analysis

#### Missing or invalid patient id

In [130]:
# missing patient id
df[(~df.error.isna()) & (df.error.str.contains("id is not valid"))].drop_duplicates()

Empty DataFrame
Columns: [file, error, warning]
Index: []

#### missing month

In [131]:
# month list is empty?
print("\n".join(l.split(".")[0] for l in df[(~df.error.isna()) & (df.error.str.contains("month_list"))].file.tolist()))

#### missing patient data

In [132]:
# cannot find patient data
for year in range(2017,2023):
    subdf = df[(~df.error.isna()) & (df.error.str.contains("readxl::cell_limits"))]
    print(subdf[subdf.file.str.startswith(str(year))].file.tolist())

[]
[]
[]
[]
[]
[]

In [133]:
# check problem with num_na_rows
subdf = df[(~df.error.isna()) & (df.error.str.contains("num_na_rows"))]
subdf

Empty DataFrame
Columns: [file, error, warning]
Index: []

In [134]:
# check start_df_msd:end_df_msd
subdf = df[(~df.error.isna()) & (df.error.str.contains("start_df_msd"))]
subdf.file.tolist()

[]

# Warnings

In [135]:
df[~df.warning.isna()]

,file,error,warning
0,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Found invalid values for column blood_pressure_mmhg that do not follow the format X/Y. Values were replaced with 999999.
1,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,"Extra columns in patient data: admissiontohospitaldatemmmyy, observations1, admissiontohospitaldatemmyy"
2,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,"Missing columns in patient data: clinic_code, country_code, fbg_baseline_mg, fbg_updated_mg, hospitalisation_cause, hospitalisation_date, last_remote_followup_date, lost_date, observations, observations_category, status_out, t1d_diagnosis_date, t1d_diagnosis_with_dka, updated_2022_date"
3,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Could not convert value - in column bmi for patient: MY_PN004
4,2020_Penang General Hospital A4D Tracker_DC_patient_raw.log,None,Could not convert value - in column bmi for patient: MY_PN004
...,...,...,...
9971,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9972,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9973,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9974,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."
9975,2022_CDA A4D Tracker_patient_raw.log,None,"Patient KH_CD015: Value Premixed 30/70 BD,Basal-bolus (AN) for column insulin_regimen is not in the list of allowed values."

### Warning analysis

#### extra columns

In [154]:
missed_names = df[(~df.warning.isna()) & (df.warning.str.contains("Extra"))].warning.str.strip("Extra columns in patient data:").drop_duplicates().to_list()

names = set()
for x in missed_names:
    names.update(x for x in x.split(",") if x)
    
names

{' admissiontohospitaldatemmmyy',
 ' admissiontohospitaldatemmyy',
 ' complication_screening',
 ' complication_screening_',
 ' complication_screening_date',
 ' complication_screening_results',
 ' est_strips_pmoth',
 ' family_support_',
 ' family_support_scale',
 ' hospitalisation_date1',
 ' instantmeterreceiv',
 ' instantmeterreceiveddate',
 ' insulin_required_month',
 ' insulin_required_y',
 ' lastclinicvisitไปโรงพยาบาลdate',
 ' lastremotefollowupสายเขา',
 ' lastremotefollowupโดยโทรศัพทdate',
 ' meter_received_',
 ' meter_received_date',
 ' new',
 ' observations1',
 ' remote_followup',
 ' remotefu',
 ' virtualremotecontactdate',
 ' virtualremotecontactyn',
 '_dosage',
 '_screening',
 '_screening_results',
 '_strips_pmoth',
 '_visit',
 'hospitaldatemmmyy'}

In [ ]:
names = set()
for row in missed_names:
    names.update(w.strip(".") for w in row.split(","))

In [46]:
names

NameError: name 'names' is not defined

#### parsing dates

In [61]:
subdf = df[(~df.warning.isna()) & (df.warning.str.contains("Could not convert value", regex=False))]

subdf.warning.str.strip("Could not convert value ").unique().tolist()

['- in column bmi for patient: MY_PN004',
 '- in column fbg_baseline_mmol for patient: MY_PN004',
 'Sept-20 in column bmi_date for patient: MY_PN007',
 'Sept-20 in column bmi_date for patient: MY_PN008',
 'sept-20 in column bmi_date for patient: MY_PN010',
 '0ct/19 in column bmi_date for patient: MY_PN011',
 'il in column hba1c_baseline for patient: MY_SW008',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW001',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW002',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW003',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW004',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW005',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW009',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW010',
 'NA or Hospitalisation Date in column hospitalisation_date for patient: MY_SW011',
 'Nil in column last_clinic_visit_date for patient: MY_SW008',
 '27-Sept-22 in column bmi_date for patient: MY_SB005',
 '13-Sept-22 in column bmi_date for patient: MY_SB006',
 '12-Sept-22 in column bmi_date for patient: MY_SB007',
 '07-Sept-2022 in column fbg_updated_date for patient: MY_SB007',
 '07-Sept-2022 in column hba1c_updated_date for patient: MY_SB004',
 '13-Sept-2022 in column hba1c_updated_date for patient: MY_SB006',
 '07-Sept-2022 in column hba1c_updated_date for patient: MY_SB007',
 '25-29/7/22 in column hospitalisation_date for patient: MY_SB001',
 '29/5-11/6/22 in column hospitalisation_date for patient: MY_SB005',
 '27-Sept-2022 in column last_clinic_visit_date for patient: MY_SB005',
 '13-Sept-2022 in column last_clinic_visit_date for patient: MY_SB006',
 '12-Sept-2022 in column last_clinic_visit_date for patient: MY_SB007',
 '12-Sept-2022 in column updated_2022_date for patient: MY_SB007',
 '19.51.20 in column weight for patient: TH_KN009',
 '1 in column hospitalisation_date for patient: LA_LF001',
 '- in column fbg_updated_mmol for patient: MY_PN004',
 '- in column hba1c_updated for patient: MY_PN004',
 '- in column height for patient: MY_PN004',
 '- in column weight for patient: MY_PN004',
 '- in column bmi_date for patient: MY_PN004',
 '- in column fbg_updated_date for patient: MY_PN004',
 '- in column hba1c_updated_date for patient: MY_PN004',
 '24..6 in column weight for patient: MY_SB001',
 '2 Jully 2019 in column last_clinic_visit_date for patient: MY_SB003',
 '71-134 in column fbg_baseline_mg for patient: LA_MH002',
 '110-150 in column fbg_baseline_mg for patient: LA_MH003',
 '80-120 in column fbg_baseline_mg for patient: LA_MH004',
 '67-272 in column fbg_baseline_mg for patient: LA_MH004',
 '234-240 in column fbg_baseline_mg for patient: LA_MH005',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH001',
 'Insert Date in column hospitalisation_date for patient: LA_MH002',
 'Insert Date in column hospitalisation_date for patient: LA_MH003',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH004',
 'Insert Date in column hospitalisation_date for patient: LA_MH006',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH008',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH009',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH010',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH011',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH012',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH013',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH014',
 'Insert Date in column hospitalisation_date for patient: LA_MH015',
 'Insert Date in column hospitalisation_date for patient: LA_MH016',
 'Insert Date in column hospitalisation_date for patient: LA_MH017',
 'Insert Date in column hospitalisation_date for patient: LA_MH018',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH019',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH020',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH021',
 'Insert Date in column hospitalisation_date for patient: LA_MH022',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH023',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH024',
 'Insert Date or NA in column hospitalisation_date for patient: LA_MH025',
 'Insert Date in column hospitalisation_date for patient: LA_MH026',
 'Insert Date in column hospitalisation_date for patient: LA_MH027',
 'Insert Date in column hospitalisation_date for patient: LA_MH028',
 'Insert Date in column hospitalisation_date for patient: LA_MH029',
 'Insert Date in column hospitalisation_date for patient: LA_MH030',
 'Insert Date in column hospitalisation_date for patient: LA_MH031',
 'Insert Date in column hospitalisation_date for patient: LA_MH032',
 'Insert Date in column hospitalisation_date for patient: LA_MH033',
 'Insert Date in column hospitalisation_date for patient: LA_MH034',
 '- in column fbg_baseline_mg for patient: MY_PN004',
 '06/2020 in column hospitalisation_date for patient: MY_PN004',
 '10/2019 in column hospitalisation_date for patient: MY_PN007',
 '<100 in column fbg_updated_mg for patient: LA_LF001',
 '21-Sept-2022 in column bmi_date for patient: MY_SW002',
 '28-Sept-2022 in column bmi_date for patient: MY_SW004',
 '14-Sept-2022 in column bmi_date for patient: MY_SW017',
 '21-Sept-2022 in column last_clinic_visit_date for patient: MY_SW002',
 '14-Sept-2022 in column last_clinic_visit_date for patient: MY_SW004',
 '28-Sept-2022 in column last_clinic_visit_date for patient: MY_SW006',
 '15-Sept-2022 in column last_clinic_visit_date for patient: MY_SW013',
 '14-Sept-2022 in column last_clinic_visit_date for patient: MY_SW017',
 '2011 in column t1d_diagnosis_date for patient: MY_SW001',
 '2018 in column t1d_diagnosis_date for patient: MY_SW002',
 '2004 in column t1d_diagnosis_date for patient: MY_SW003',
 '2009 in column t1d_diagnosis_date for patient: MY_SW005',
 '2015 in column t1d_diagnosis_date for patient: MY_SW006',
 '2009 in column t1d_diagnosis_date for patient: MY_SW007',
 '2019 in column t1d_diagnosis_date for patient: MY_SW008',
 '2017 in column t1d_diagnosis_date for patient: MY_SW009',
 '2019 in column t1d_diagnosis_date for patient: MY_SW010',
 '2019 in column t1d_diagnosis_date for patient: MY_SW011',
 '2021 in column t1d_diagnosis_date for patient: MY_SW014',
 'Sept-2022 in column t1d_diagnosis_date for patient: MY_SW018',
 'Sept-2021 in column t1d_diagnosis_date for patient: MY_SW019',
 '21-Sept-2022 in column updated_2022_date for patient: MY_SW002',
 '28-Sept-2022 in column updated_2022_date for patient: MY_SW004',
 '14-Sept-2022 in column updated_2022_date for patient: MY_SW017',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH001',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH002',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH003',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH004',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH006',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH007',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH008',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH009',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH010',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH011',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH012',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH013',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH014',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH015',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH016',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH017',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH018',
 'Modified conventional TID in column testing_frequency for patient: LA_MH019',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH020',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH021',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH022',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH023',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH024',
 'Modified conventional TID in column testing_frequency for patient: LA_MH025',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH026',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH027',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH028',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH029',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH030',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH031',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH032',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH033',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH034',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH035',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH036',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH037',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH038',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH039',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH040',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH041',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH042',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH043',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH044',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH045',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH046',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH047',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH048',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH049',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH050',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH051',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH052',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH053',
 'NPH in column testing_frequency for patient: LA_MH054',
 'Premixed 30/70 BD in column testing_frequency for patient: LA_MH055',
 'Premixed 30/70 BD in column testing_frequency for patient: LA-MH056',
 'Premixed 30/70 BD in column testing_frequency for patient: LA-MH057',
 '9-Dce-20 in column bmi_date for patient: LA_MH001',
 '9-Dce-20 in column bmi_date for patient: LA_MH014',
 '9-Dce-20 in column bmi_date for patient: LA_MH018',
 '9-Dce-20 in column bmi_date for patient: LA_MH038',
 '9-Dce-20 in column bmi_date for patient: LA_MH040',
 '9-Dce-20 in column bmi_date for patient: LA_MH042',
 '9-Dce-20 in column bmi_date for patient: LA_MH044',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH001',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH014',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH018',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH038',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH040',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH042',
 '9-Dce-20 in column fbg_updated_date for patient: LA_MH044',
 '9-Dce-20 in column hba1c_updated_date for patient: LA_MH018',
 '9-Dce-20 in column hba1c_updated_date for patient: LA_MH038',
 '9-Dce-20 in column hba1c_updated_date for patient: LA_MH042',
 '9-Dce-20 in column hba1c_updated_date for patient: LA_MH044',
 'Skin infection / hyperglycemia in column hospitalisation_date for patient: LA_MH031',
 'Hyperglycemia + mild DKA in column hospitalisation_date for patient: LA_MH032',
 '.g. xxx in column fbg_updated_mmol for patient: MY_PN001',
 '.g. xxx  in column hba1c_updated for patient: MY_PN001',
 'mth-18 in column fbg_updated_date for patient: MY_PN001',
 'Sept-18 in column fbg_updated_date for patient: MY_PN003',
 'Sept-18 in column fbg_updated_date for patient: MY_PN006',
 'Sept-18 in column fbg_updated_date for patient: MY_PN007',
 'Sept-18 in column fbg_updated_date for patient: MY_PN008',
 'Sept-18 in column fbg_updated_date for patient: MY_PN009',
 'Sept-18 in column fbg_updated_date for patient: MY_PN010',
 'mth-18 in column hba1c_updated_date for patient: MY_PN001',
 'Sept-18 in column hba1c_updated_date for patient: MY_PN003',
 'Sept-18 in column hba1c_updated_date for patient: MY_PN006',
 'Sept-18 in column hba1c_updated_date for patient: MY_PN007',
 'Sept-18 in column hba1c_updated_date for patient: MY_PN008',
 'Sept - 18 in column hba1c_updated_date for patient: MY_PN009',
 'Sept-18 in column hba1c_updated_date for patient: MY_PN009',
 '- in column fbg_baseline_mmol for patient: MY_SW005',
 '- in column fbg_updated_mmol for patient: MY_SW005',
 '- in column fbg_updated_date for patient: MY_SW005',
 '- in column hba1c_updated_date for patient: MY_SW005',
 'May 2019, Dec 2019 DKA in column hospitalisation_date for patient: MY_SW006',
 'Dec 2019, Mar 2020 DKA in column hospitalisation_date for patient: MY_SW007',
 '14/02/2019 and 05/07/2021 in column hospitalisation_date for patient: KH_NP004',
 '01/02/2021 and 21/11/2021 in column hospitalisation_date for patient: KH_NP014',
 '68.4 - 131.4 in column fbg_baseline_mg for patient: TH_SP001',
 '239.4 - 300.6 in column fbg_baseline_mg for patient: TH_SP002_SA',
 '68.4 - 214.2 in column fbg_baseline_mg for patient: TH_SP003_SA',
 '39.6 - 199.8 in column fbg_baseline_mg for patient: TH_SP004',
 '99.0 - 199.8 in column fbg_baseline_mg for patient: TH_SP005',
 '59.4 - 259.2 in column fbg_baseline_mg for patient: TH_SP006',
 '100.8 - 426.6 in column fbg_baseline_mg for patient: TH_SP007',
 '104.4 - 185.4 in column fbg_baseline_mg for patient: TH_SP008_SA',
 '102.6 - 293.4 in column fbg_baseline_mg for patient: TH_SP009',
 '79 - 95 in column fbg_baseline_mg for patient: TH_SP011',
 '200-300 in column fbg_baseline_mg for patient: TH_SP012',
 '62-398 in column fbg_baseline_mg for patient: TH_SP013',
 '200-400 in column fbg_baseline_mg for patient: TH_SP014',
 '150-300 in column fbg_baseline_mg for patient: TH_SP015',
 '70-331 in column fbg_baseline_mg for patient: TH_SP016',
 '96-350 in column fbg_baseline_mg for patient: TH_SP018_SA',
 '60-300 in column fbg_baseline_mg for patient: TH_SP019_SA',
 '63-288 in column fbg_baseline_mg for patient: TH_SP020_SA',
 '77-350 in column fbg_baseline_mg for patient: TH_SP021',
 '65-275 in column fbg_baseline_mg for patient: TH_SP022',
 '133-319 in column fbg_baseline_mg for patient: TH_SP023_SA',
 '- in column height for patient: TH_SP005',
 '- in column weight for patient: TH_SP005',
 '20-Mei-21 in column hba1c_updated_date for patient: MY_LW010',
 '18-Mei-21 in column hba1c_updated_date for patient: MY_LW011',
 '13-Sept-2021 in column hba1c_updated_date for patient: MY_LW011',
 '8-mac-21 in column last_clinic_visit_date for patient: MY_LW006',
 '80-340 in column fbg_baseline_mg for patient: TH_PP001_PA',
 '105 - 234 in column fbg_baseline_mg for patient: TH_PP003',
 '114 - 361 in column fbg_baseline_mg for patient: TH_PP004_PA',
 '158 - 293 in column fbg_baseline_mg for patient: TH_PP005',
 '50-220 in column fbg_baseline_mg for patient: TH_PP006',
 '65-270 in column fbg_baseline_mg for patient: TH_PP007',
 '80-157 in column fbg_baseline_mg for patient: TH_PP008',
 '105-280 in column fbg_baseline_mg for patient: TH_PP009',
 '90-200 in column fbg_baseline_mg for patient: TH_PP009',
 '100-240 in column fbg_baseline_mg for patient: TH_PP010',
 '60-320 in column fbg_baseline_mg for patient: TH_PP011',
 '80-285 in column fbg_baseline_mg for patient: TH_PP012',
 '64-280 in column fbg_baseline_mg for patient: TH_PP013',
 '60-290 in column fbg_baseline_mg for patient: TH_PP013',
 '80-130 in column fbg_baseline_mg for patient: TH_PP013',
 '60-430 in column fbg_baseline_mg for patient: TH_PP014',
 '98-500 in column fbg_baseline_mg for patient: TH_PP015',
 '70-250 in column fbg_baseline_mg for patient: TH_PP016',
 '80-180 in column fbg_baseline_mg for patient: TH_PP017',
 '130-250 in column fbg_baseline_mg for patient: TH_PP017',
 '80-250 in column fbg_baseline_mg for patient: TH_PP018',
 '90-350 in column fbg_baseline_mg for patient: TH_PP019',
 '100-350 in column fbg_baseline_mg for patient: TH_PP019',
 '- in column fbg_updated_mg for patient: TH_PP019',
 '8.1 - 10.7 in column hba1c_baseline for patient: TH_PP001_PA',
 '7.6 - 9.2 in column hba1c_baseline for patient: TH_PP002_PA',
 '8.5 - 10.7 in column hba1c_baseline for patient: TH_PP003',
 '10.5 - 12.2 in column hba1c_baseline for patient: TH_PP004_PA',
 '10.4 - 13.1 in column hba1c_baseline for patient: TH_PP005',
 '7.1-13 in column hba1c_baseline for patient: TH_PP011',
 '71-294 in column fbg_baseline_mg for patient: LA_MH002',
 'DKA in column fbg_baseline_mg for patient: LA_MH003',
 '80-130 in column fbg_baseline_mg for patient: LA_MH004',
 'Aug-7 in column fbg_updated_date for patient: LA_MH002',
 'Aug-1 in column fbg_updated_date for patient: LA_MH008',
 'Augst-17 in column hba1c_updated_date for patient: LA_MH002',
 '8-Sept-2022 in column bmi_date for patient: MY_LW002',
 '26-Sept-2022 in column bmi_date for patient: MY_LW012',
 '8-Sept-2022 in column fbg_updated_date for patient: MY_LW002',
 '26-Sept-2022 in column fbg_updated_date for patient: MY_LW012',
 '12-Sept-2022 in column hba1c_updated_date for patient: MY_LW012',
 '13-Sept-2019 in column t1d_diagnosis_date for patient: MY_LW013',
 '8-Sept-2022 in column updated_2022_date for patient: MY_LW002',
 '26-Sept-2022 in column updated_2022_date for patient: MY_LW012',
 '67-390 in column fbg_baseline_mg for patient: TH_UT004_MH',
 '300-400 in column fbg_baseline_mg for patient: TH_CP003',
 '300-400 in column fbg_baseline_mg for patient: TH_CP004',
 '54-484 in column fbg_baseline_mg for patient: TH_CP020',
 '122-278 in column fbg_baseline_mg for patient: TH_CP021',
 '100-546 in column fbg_baseline_mg for patient: TH_CP022',
 '47-562 in column fbg_baseline_mg for patient: TH_CP023',
 'MBG35-562 in column fbg_baseline_mg for patient: TH_CP026',
 'SMBG 52-442 in column fbg_updated_mg for patient: TH_CP001',
 'SMBG 60-398 in column fbg_updated_mg for patient: TH_CP001',
 'SMBG 49-355 in column fbg_updated_mg for patient: TH_CP001',
 'SMBG 53-476 in column fbg_updated_mg for patient: TH_CP001',
 'SMBG 55-345 in column fbg_updated_mg for patient: TH_CP001',
 'SMBG 47-579 in column fbg_updated_mg for patient: TH_CP002',
 'SMBG 44-597 in column fbg_updated_mg for patient: TH_CP002',
 'SMBG 49-593 in column fbg_updated_mg for patient: TH_CP002',
 'SMBG 55-551 in column fbg_updated_mg for patient: TH_CP002',
 'SMBG 52-572 in column fbg_updated_mg for patient: TH_CP002',
 'BG 37-373 in column fbg_updated_mg for patient: TH_CP003',
 'SMBG 131-410 in column fbg_updated_mg for patient: TH_CP004',
 'BG 36-336 in column fbg_updated_mg for patient: TH_CP005',
 'BG 46-298 in column fbg_updated_mg for patient: TH_CP005',
 'SMBG 42-595 in column fbg_updated_mg for patient: TH_CP005',
 'SMBG 38-585 in column fbg_updated_mg for patient: TH_CP005',
 'BS 450 in column fbg_updated_mg for patient: TH_CP005',
 'BG 30-500 in column fbg_updated_mg for patient: TH_CP005',
 'BG 60-500 in column fbg_updated_mg for patient: TH_CP005',
 'SMBG 113-508 in column fbg_updated_mg for patient: TH_CP006',
 'SMBG 70-300 in column fbg_updated_mg for patient: TH_CP006',
 'SMBG 150-400 in column fbg_updated_mg for patient: TH_CP006',
 'SMBG 67-525 in column fbg_updated_mg for patient: TH_CP006',

In [55]:
subdf.file.unique().tolist()

['2020_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2019_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2022_Sultanah Bahiyah A4D Tracker_DC_patient_raw.log',
 '2022_Khon Kaen Hospital A4D Tracker_patient_raw.log',
 '2019_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2019_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2019_Sultanah Bahiyah Hospital A4D Tracker_DC_patient_raw.log',
 '2019_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2021_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_Mahosot Hospital A4D Tracker_DC_patient_raw.log',
 '2018_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_NPH A4D Tracker_patient_raw.log',
 '2022_Sunprasitthiprasong Hospital A4D Tracker_patient_raw.log',
 "2021_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2020_Sultanah Bahiyah Hospital A4D Tracker_DC_patient_raw.log',
 '2022_Pahol  Polpayuhasena A4D Tracker_patient_raw.log',
 '2017_Mahosot Hospital A4D Tracker_patient_raw.log',
 "2022_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2022_Mahosot Hosptial A4D Tracker_DC_patient_raw.log',
 '2022_Chiang Mai Maharaj Nakorn A4D Tracker_patient_raw.log',
 '2018_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2022_NPH A4D Tracker_patient_raw.log',
 '2018_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2021_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2022_CDA A4D Tracker_patient_raw.log']

#### invalid values (outside range)

In [66]:
subdf = df[(~df.warning.isna()) & (df.warning.str.contains("Found invalid value", regex=False))]

subdf.warning.str.strip("Found invalid value ").str.split(expand=True)[[0,3]].drop_duplicates()

          0                         3
0         s       blood_pressure_mmhg
143    18.5            hba1c_baseline
147     200         fbg_baseline_mmol
220     122                       age
232       0            hba1c_baseline
773      11   blood_pressure_sys_mmhg
777      12   blood_pressure_sys_mmhg
790      15   blood_pressure_sys_mmhg
794      17   blood_pressure_sys_mmhg
797      19   blood_pressure_sys_mmhg
800       2  blood_pressure_dias_mmhg
804       3  blood_pressure_dias_mmhg
813       7  blood_pressure_dias_mmhg
817       6  blood_pressure_dias_mmhg
821      13  blood_pressure_dias_mmhg
1124     13                    height
2103     26                       age
2112     27                       age
2153   18.9            hba1c_baseline
4106    695  blood_pressure_dias_mmhg
4796    6.9                    height
6039     30                       age
6046     31                       age
9530     28                       age
10260  0.15            hba1c_baseline

In [68]:
subdf.file.unique().tolist()

['2022_Sultanah Bahiyah A4D Tracker_DC_patient_raw.log',
 '2022_Khon Kaen Hospital A4D Tracker_patient_raw.log',
 '2022_Chulalongkorn Hospital A4D Tracker_patient_raw.log',
 '2021_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Putrajaya Hospital A4D Tracker_DC_patient_raw.log',
 '2022_Surat Thani A4D Tracker_patient_raw.log',
 '2022_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_Mahosot Hospital A4D Tracker_DC_patient_raw.log',
 '2018_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_NPH A4D Tracker_patient_raw.log',
 '2022_Sunprasitthiprasong Hospital A4D Tracker_patient_raw.log',
 '2022_Phattalung Hospital A4D Tracker_patient_raw.log',
 "2021_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2021_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Pahol  Polpayuhasena A4D Tracker_patient_raw.log',
 '2017_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2022_Mukdahan Hospital A4D Tracker_patient_raw.log',
 '2022_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 "2022_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2022_Mahosot Hosptial A4D Tracker_DC_patient_raw.log',
 '2022_Chiang Mai Maharaj Nakorn A4D Tracker_patient_raw.log',
 '2018_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2022_NPH A4D Tracker_patient_raw.log',
 '2018_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Hat Yai Hospital A4D Tracker_patient_raw.log',
 '2021_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2022_CDA A4D Tracker_patient_raw.log']

#### invalid values (not allowed)

In [76]:
subdf = df[(~df.warning.isna()) & (df.warning.str.contains("not in the list of allowed values", regex=False))]

subdf.warning.str.split(expand=True)[[3, 6]].drop_duplicates()

                             3                 6
244                      NA,NA   insulin_regimen
256             Basal-bolus,NA   insulin_regimen
265                Basal-bolus               for
381                   Modified      conventional
393                 Self-mixed               for
417    Basal-bolus,Basal-bolus   insulin_regimen
501                 Self-mixed            column
683                   Other,NA   insulin_regimen
1207               Basal-bolos   insulin_regimen
1214                    Others   insulin_regimen
1360                     basal            column
1680   basal-bolus,basal-bolus   insulin_regimen
2205                  Premixed               for
2373               Basal-bolus               MDI
3001                         2   insulin_regimen
3137                         3   insulin_regimen
3411                       NPH   insulin_regimen
3414                         4   insulin_regimen
3428                     Basal            column
3532                      SMBG  support_from_a4d
3751                         -   insulin_regimen
3766                  diabetes           glucose
3769                       1st                to
4133            Basal-Bolus,NA   insulin_regimen
4169                  Modified               for
4803                    Severe               AKI
5270                 Others,NA   insulin_regimen
5752                  Insulin,                 &
5763                  Insulin,             HbA1c
5861                  Premixed            column
7056                    NPH,NA   insulin_regimen
8776                   Sponsor               for
9386             Others,Others   insulin_regimen
9388              Other,Others   insulin_regimen
9552                  Premixed             30/70
9564                     Basal               for
9775         Other,Basal-bolus   insulin_regimen
10349              Basal-bolus           (AN/HI)
10361              Basal-bolus              (AN)
10457              Basal-bolus            column
10493              Basal-bolus      conventional
10522                 Premixed              (AN)

In [75]:
subdf.file.unique().tolist()

['2022_Sultanah Bahiyah A4D Tracker_DC_patient_raw.log',
 '2022_Khon Kaen Hospital A4D Tracker_patient_raw.log',
 '2022_Chulalongkorn Hospital A4D Tracker_patient_raw.log',
 '2021_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Putrajaya Hospital A4D Tracker_DC_patient_raw.log',
 '2022_Surat Thani A4D Tracker_patient_raw.log',
 '2022_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_Mahosot Hospital A4D Tracker_DC_patient_raw.log',
 '2018_Penang General Hospital A4D Tracker_DC_patient_raw.log',
 '2020_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2021_NPH A4D Tracker_patient_raw.log',
 '2022_Sunprasitthiprasong Hospital A4D Tracker_patient_raw.log',
 '2022_Phattalung Hospital A4D Tracker_patient_raw.log',
 "2021_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2021_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Pahol  Polpayuhasena A4D Tracker_patient_raw.log',
 '2017_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2022_Mukdahan Hospital A4D Tracker_patient_raw.log',
 '2022_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 "2022_Likas Women & Children's Hospital A4D Tracker_DC_patient_raw.log",
 '2022_Mahosot Hosptial A4D Tracker_DC_patient_raw.log',
 '2022_Chiang Mai Maharaj Nakorn A4D Tracker_patient_raw.log',
 '2018_Mahosot Hospital A4D Tracker_patient_raw.log',
 '2022_NPH A4D Tracker_patient_raw.log',
 '2018_Lao Friends Hospital for Children A4D Tracker_DC_patient_raw.log',
 '2022_Hat Yai Hospital A4D Tracker_patient_raw.log',
 '2021_Sarawak General Hospital A4D Tracker_DC_patient_raw.log',
 '2022_CDA A4D Tracker_patient_raw.log']